
#gridFive {
  grid-area: main;
}

#myFooter {
  grid-area: footer;
  text-align: center;
  margin-top: 15em;
}

body {
  font-family: calibri;
  font-size: 16px;
  color: lime;
  background-color: black;
  display: grid;
  grid-template-rows: 10em minmax(15em, auto) 10em;
  grid-template-columns: 10em 1fr 10em;
}

a:link, a:active, a:visited {
  color: lime;
}

#navigation {
  margin: 20px 20px 20px 20px;
  grid-area: nav;
  align-items: center;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  height: 100px;
  border: solid 1px lime;
  background-color: black;
}

.myFieldWrapperAll {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

.myFieldWrapper {
  margin-top: 1em;
}

input, textarea, select {
  background-color: black;
  border-radius: .3em;
  border: 1px solid #CDCDCD;
  height: 2em;
  width: 100%;
}

label {
  padding-top: 1.5em;
}
textarea {
  height: 10em;
}

.checkmark {
  /* position: absolute; */
  /* top: 0;
  left: 0; */
  height: 15px;
  width: 15px;
  background-color: #eee;
}

.myContainer {
  /* text-align: center; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  margin: 0 20%;
}

.box {
  /* width: 25%; */
  /* flex: 0 1 auto; */
}

.box1 {
  font-size: 2em;
}

form {

}

tr, td {
  border: solid black 1px;
}

th {
  text-align: center;
  font-size: large;
}

td {
  padding: .5em;
}


table {
  border: solid black 1px;
  border-spacing: 15px 5px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  /* text-align: center; */
  width: 75%;
  min-width: 300px;
}

.myHeaders {
  text-align: center;
}

.counter {
  text-align: center;
  padding-top: 2em;
}

@media screen and (min-width: 350px) {
  body {
    grid-template-areas:
      "nav nav nav"
      "main main main"
      "5 footer 6"
  }
  #navigation {
      flex-flow: column;
  }
  .myContainer {
      margin: 0 5%;
  }
  #myFooter {
    grid-area: footer;
    text-align: center;
    margin-top: 5em;
  }
}

@media screen and (min-width: 570px) {
  #navigation {
      flex-flow: row;
  }
  .myContainer {
      margin: 0 5%;
  }
}

@media screen and (min-width: 1000px) {
  body {
    display: grid;
    grid-template-areas:
      "1 nav 2"
      "3 main 4"
      "5 footer 6"
  }
  .myContainer {
      margin: 0 10%;
  }
}
